<h1 class="page_heading">Welcome to Sage Creek Horticulture</h1>
<p>
  Based in Palo Alto, CA, we provide <!--three--> two distinct services according to our clients' needs:<br>
  <ul id="sch_services">
    <li><a href="#landscape_design">Landscape Design</a></li>
    <li><a href="#fine_gardening">Fine Gardening</a></li>
   <!--
    <li><a href="#garden_management">Garden Management</a></li>
   -->
  </ul>
</p>
<section id="landscape_design">
  <p>
    <h3><u>Landscape Design</u></h3>
    <span>
      Our landscapes are designed to meet the needs of our clients in regards to form, function, color, and maintenance levels, and feature site-appropriate plant selection which take into account factors such as sun or shade, soil type, and water needs.  Our designs usually feature a significant percentage of native plants which in addition to being adapted for our climate also benefit native wildlife such as birds, butterflies, bees, etc.
    </span>
  </p>
</section>
<section id="fine_gardening">
  <p>
    <h3><u>Fine Gardening</u></h3>
    <span>
      Fine Gardening includes pruning and maintenance of medium and small shrubs and perenials, maintenance and planting/replanting of annuals, occasional fertilizing.  It is the more detailed work of gardening beyond your typical mow-and-blow team.
    </span>
  </p>
</section>
<!--
<section id="garden_management">
  <p>
    <h3><u>Garden Management</u></h3>
    <span>
      Garden Management is managing the activities of Mow-And-Blow types and the needs of the garden, but it can be difficult to dictate the activities of teams when they don't work directly for us, so commenting out for now...
    </span>
  </p>
-->
