<h1 class="page_heading">About us</h1>
<p>
Susan Stansbury, Principal of Sage Creek Horticulture, has a passion for ecological landscape design and maintenance. Her areas of expertise are in designing residential landscapes with native, drought-tolerant and edible landscaping and in fine gardening using organic methods.
</p>
<p>
Her mission is to help homeowners create beautiful and unique landscapes that meet their functional needs while using plant palettes that are climate appropriate and habitat friendly.
</p>
<p>
After working on ecological issues in the non-profit sector for twenty years, she graduated with high honors with a degree in Environmental Horticulture from Foothill College. Prior to completing this degree, she became certified in Permaculture Design and gained decades of field experience doing habitat restoration, tree planting, community gardening, designing and managing school garden programs, and organizing ecologically-friendly garden tours.
</p>

<ul id="affiliations_list"><span>Affiliations:</span>
  <li> Acterra </li>
  <li> Association of Professional Landscape Designers (APLD) </li>
  <li> Bay Friendly Coalition </li>
  <li> CA Native Plant Society </li>
  <li> Canopy </li>
  <li> California Landscape Contractors Association (CLCA) </li>
  <li> Common Ground Garden Supply and Education Center </li>
</ul>
